   .menu-toggle {
    font-size: 20px;
    cursor: pointer;
    color: rgb(54, 21, 131);
    z-index: 1100;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
  } 
 
 @media (max-width: 990px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background: #120f51;
      position: absolute;
      border: 1px solid #efc2b3;
      top: 60px;
      right: 0;
      padding: 20px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  } 

  @media (min-width: 992px) {
    .navbar .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}