   .menu-toggle {
    cursor: pointer;
    color:#efc2b3;
    z-index: 1100;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.50rem;
    line-height: 1;
    padding: .25rem .75rem;
}
  
 
 @media (max-width: 1000px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background: #120f51;
      position: absolute;
      border: 1px solid #efc2b3;
      top: 60px;
      right: 0;
      padding: 20px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  } 

  @media (min-width: 992px) {
    .navbar .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}